<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Car Images</title>
    </head>
    <body>
       <h1>Car Images</h1>
       <h3> Please do explore our cars and click on it to book a car</h3>
    <form method="get">
       <a href="{{ url_for('add_booking') }}">
         <p>5 Seater - MG ASTRO @ 3000/- per day #A16R3 is the carId</p>
         <img src="{{ url_for('static', filename='images/MgAstro.jpeg') }}" alt="5 Seater - MG ASTRO">
         <p>5 Seater - MG ASTRO @ 3000/- per day #A13R2 is the carId</p>
         <img src="{{ url_for('static', filename='images/KiaSeltos.jpeg') }}" alt="5 Seater - KIA SELTOS">
         <p>5 Seater - KIA SELTOS @ 2500/- per day #A13R1 is the carId</p>
         <img src="{{ url_for('static', filename='images/TataNexon.jpeg') }}" alt="5 Seater - TATA NEXON">
         <p>5 Seater - TATA NEXON @ 2000/- per day #AR6R2 is the carId</p>
         <img src="{{ url_for('static', filename='images/HondaJazz.jpeg') }}" alt="5 Seater - HONDA JAZZ">
         <p>5 Seater - HONDA JAZZ @ 1500/- per day #H14R2 is the carId</p>
         <img src="{{ url_for('static', filename='images/ToyotaGlanza.jpeg') }}" alt="5 Seater - TOYOTA GLANZA">
         <p>5 Seater - TOYOTA GLANZA @ 3000/- per day #V1GR2 is the carId</p>
         <img src="{{ url_for('static', filename='images/HyndaiVerna.jpeg') }}" alt="5 Seater - HYNDAI VERNA">
         <p>5 Seater - HYNDAI VERNA @ 2500/- per day #AE3R8 is the carId</p>
         <img src="{{ url_for('static', filename='images/HyndaiCreta.jpeg') }}" alt="5 Seater - HYNDAI CRETA">
         <p>5 Seater - HYNDAI CRETA @ 3000/- per day #A133Z is the carId</p>
         <img src="{{ url_for('static', filename='images/Kia7Carnival.jpeg') }}" alt="7 Seater - KIA CARNIVAL">
         <p>7 Seater - KIA CARNIVAL @ 5000/- per day #AR3R2 is the carId</p>
         <img src="{{ url_for('static', filename='images/Mg7Gloster.jpeg') }}" alt="7 Seater - MG GLOSTER">
         <p>7 Seater - MG GLOSTER @ 4500/- per day #E13T3 is the carId </p>
         <img src="{{ url_for('static', filename='images/Mg7Hector.jpeg') }}" alt="7 Seater - MG HECTOR">
         <p>7 Seater - MG HECTOR @ 4500/- per day #A20R2 is the carId</p>
         <img src="{{ url_for('static', filename='images/Tata7Safari.jpeg') }}" alt="7 Seater - TATA SAFARI">
         <p>7 Seater - TATA SAFARI @ 3500/- per day #B23R2 is the carId</p>
         <img src="{{ url_for('static', filename='images/Volkswagen7Atlas.jpeg') }}" alt="7 Seater - VOLKSWAGEN ATLAS">
         <p>7 Seater - VOLKSWAGEN ATLAS @ 5000/- per day #Z13F2 is the carId</p>
         <img src="{{ url_for('static', filename='images/Toyota7Fortuner.jpeg') }}" alt="7 Seater - TOYOTA FORTUNER">
         <p>7 Seater - TOYOTA FORTUNER @ 4500/- per day #z33R2 is the carId</p>
       </a>
    </form>
    </body>
</html>