<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <title>Home Page</title>
</head>
<body>
     <div style="text-align: center;">
  <h1>Welcome to the SaHi Car Rentals</h1>
</div>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('register') }}">User Register</a>
    <a href="{{ url_for('login') }} ">User Login</a>
    <a href="{{ url_for('display_cars') }}">Book a Car</a>
     <a href="{{ url_for('logout') }}">Logout</a><br><br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}
    <br><br>
<form method="get">
         <img src="{{ url_for('static', filename='images/carhome1.jpeg') }}"width="800" height="500"  style="display: block; margin: auto;">
    </form>
</body>
</html>
